.carousel-home .carousel .slide .legend {
    background: black;
    border-radius: 0%;
    left: 0;
    margin-left: 0;
    width: 100%;
}

.carousel-home .carousel .control-prev.control-arrow{
    /* background-color: red; */
    height: 40px;
    width: 40px;
    /* padding: 2px; */
    border-radius: 100%;
    box-sizing: content-box;
    border: 3px solid gray;
    top: 40%;
    left: 3%;
}

.carousel-home .carousel .control-prev.control-arrow:before {
    border-right: 15px solid gray;
}

.carousel-home .carousel .control-next.control-arrow{
    /* background-color: red; */
    height: 40px;
    width: 40px;
    /* padding: 2px; */
    border-radius: 100%;
    box-sizing: content-box;
    border: 3px solid gray;
    top: 40%;
    right: 3%;
}

.carousel-home .carousel .control-next.control-arrow:before {
    border-left: 15px solid gray;
}

.carousel-home .carousel .control-dots .dot{
    height: 18px;
    width: 18px;
    background-color: gray;
}

.carousel-home .carousel .control-dots .dot.selected{
    height: 16px;
    width: 16px;
    background-color: white;
}

.carousel-home .carousel .control-dots .dot:hover{
    height: 18px;
    width: 18px;
    background-color: white;
}

